.city, .country {
  color: $main-color;
  font-size: 40px;
}

.temperature {
  color: $main-color;
  font-size: 150px;
}

.weather-today {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.weather-icon-today {
  width: 120px;
  height: 120px;
}

.weather {
  display: flex;
  color: $main-color;
}