.root {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
}

.header {
  display: flex;
  align-items: center;
  height: 50px;
}